127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


#Control hosts
{% for host in control_hosts %}
{{ host.networks.mgmt }} {{ host.name }}
{% endfor %}

#Compute hosts
{% for host in compute_hosts %}
{{ host.networks.mgmt }} {{ host.name }}
{% endfor %}

#Storage host 
{% for host in storage_hosts %}
{{ host.networks.mgmt }} {{ host.name }}
{% endfor %}

#Monitoring host
{% for host in monitoring_host %}
{{ host.networks.mgmt }} {{ host.name }}
{% endfor %}
