<network>
  <name>{{ item.value.name }}</name>
{% if item.value.type == 'nat' %}
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
{% endif %}
  <dns enable="{{ item.value.dns }}"/>
  <bridge name='{{ item.value.name }}' stp='off' delay='0'/>
  <domain name='{{ item.value.name }}'/>
  <ip address='{{ item.value.gateway }}' netmask='255.255.255.0'>
  </ip>
</network>